name: Container Azure Deploy
run-name: Deploy ${{ inputs.project }} container

on:
  workflow_dispatch:
    inputs:
      project:
        description: 'Project to deploy'
        required: true
        default: 'web'
        type: choice
        options:
          - web
          - api

permissions:
  id-token: write
  contents: read

env:
  AZURE_RESOURCE_GROUP: mssqlserver-cosmos-db
  AZURE_LOCATION: eastus
  ENVIRONMENT_NAME: dev

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Project Variables
        id: vars
        run: |
          if [[ "${{ github.event.inputs.project }}" == "api" ]]; then
            echo "dockerfile=src/PublicApi/Dockerfile" >> $GITHUB_OUTPUT
            echo "image_name=eshop-api" >> $GITHUB_OUTPUT
          else
            echo "dockerfile=src/Web/Dockerfile" >> $GITHUB_OUTPUT
            echo "image_name=eshop-web" >> $GITHUB_OUTPUT
          fi
        shell: bash

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Build docker image
        run: |
          docker build -f ${{ steps.vars.outputs.dockerfile }} -t ${{ steps.vars.outputs.image_name }} .
          docker tag ${{ steps.vars.outputs.image_name }} ${{ vars.ACR_URL }}/${{ steps.vars.outputs.image_name }}
      - name: Push image to ACR
        run: |
          registry_name=$(echo ${{ vars.ACR_URL }} | cut -d'.' -f1)
          az acr login --name $registry_name
          docker push ${{ vars.ACR_URL }}/${{ steps.vars.outputs.image_name }}